.btn-container {
    display: flex;
    justify-content: space-between; /* btn-left a sinistra, btn-right a destra */
    margin: 20px 0;
}

#btn-left, #btn-right {
    font-weight: bold;
    background-color: #ffffff;
    color: #1a1a2e;
    padding: 10px 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}