body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    text-align: center;
}

.header {
    background-color: #2d7a77;
    color: white;
    padding: 40px;
}

.galleria {
    padding: 20px;
}

.immagini {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.immagini img {
    width: 200px;
    height: 150px;
    border-radius: 10px;
}

.liste {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

.azioni {
    padding: 30px;
}

.btn {
    background-color: #2d7a77;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
}

.btn:hover {
    background-color: #1e5250;
}

.btn-container {
    display: flex;
    justify-content: space-between; /* btn-left a sinistra, btn-right a destra */
    margin: 20px 0;
}

#btn-left, #btn-right {
    font-weight: bold;
    background-color: #ffffff;
    color: #1e5250;
    padding: 10px 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.footer {
    background-color: #333;
    color: white;
    padding: 20px;
    margin-top: 40px;
}